<p id="notice" style="color: green" text-cener><%= notice %></p>
<div class="background">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <div class="search-form">
      <%= form_tag fans_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a Fan"
        %>
        <%# <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<%# <h2>Weather in <span id="city"></span> </h2> %>
    <div class="d-flex">
        <h3 id="date"></h3>
        <p id="description"></p>
        <img src="" alt="" id="icon">
        <h2 id="weather"></h2>
    </div>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
            <span class="nav-link"> <%= current_user.email %> </span>
          <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <div class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :fill, class: "avatar"%></div>
            <% else %>
              <%= cl_image_tag("https://res.cloudinary.com/drlbljn6y/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1615303526/michael-dam-mEZ3PoFGs_k-unsplash_byqvkv.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My fans", my_fans_fans_path, class: "dropdown-item" %>
              <%= link_to "My fans bookings", incoming_bookings_path, class: "dropdown-item"%>
              <%= link_to "My requests", outgoing_bookings_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete%>
            </div>
          </li>
          <% end %>
        </ul>
      </div>

</div>

<%# <div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <div class="card mt-5 p-3">
    <h2>Weather in <span id="city"></span> </h2>
    <h3 id="date"></h3>
    <p id="description"></p>
    <img src="" alt="" id="icon">
    <h2 id="weather"></h2>
    </div>
    </div>
  </div>
</div> %>

</div>
