<div class="container text-center">
  <h2>My incoming bookings</h2>

<table>
  <tr>
    <th>Fan photo</th>
    <th>Fan name</th>
     <th>Requested by:</th>
    <th>Booking starting date</th>
    <th>Booking end date</th>
    <th>Status</th>
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= cl_image_tag(booking.fan.photo.key, height: 80, width: 80, crop: :fill)%></td>
      <td><%= booking.fan.name %></td>
      <td><%= cl_image_tag(booking.user.avatar.key, class: "avatar", height: 40, width: 40, crop: :fill) %><br><%= booking.user.email %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td>
        <div class="dropdown">
          <% button_color =  case booking.status %>
          <% when "accepted" %>
            <% "btn-success" %>
          <% when "declined" %>
            <% "btn-danger" %>
          <% when "pending" %>
            <% "btn-secondary" %>
          <% end %>
            <button class="btn <%= button_color %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= booking.status %>
            </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item "><%= link_to "Accept", accept_booking_path(booking), method: :patch,  class: "dropdown-item " %></button>
            <button class="dropdown-item "><%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "dropdown-item "%></button>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Back to all fans", root_path, class: "btn-gradient-new" %>
<hr>
</div>


