<div class="container text-center">
  <h2>My fans bookings</h2>

<table>
  <tr>
    <th>Fan name</th>
    <th>Booking starting date</th>
    <th>Booking end date</th>
    <th>Status</th>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.fan.name %></td>
    <td><%= booking.start_date %></td>
    <td><%= booking.end_date %></td>
    <td><span><%= booking.status %></span></td>
  </tr>
  <% end %>
</table>

<%= link_to "Back to all fans", root_path, class: "btn-gradient-new" %>
</div>


