<h2>My requests</h2>
<% @bookings.each do |booking| %>
<div>
    <p><%= booking.fan.name %></p>
    <p><%= booking.start_date %></p>
    <p><%= booking.end_date %></p>
    <p><%= booking.status %></p>
    <p>************************</p>
</div>
<% end %>
<%= link_to "Back to all fans", root_path %>