<div class="container text-center">
  <h2>My requests</h2>

<table>
  <tr>
    <th>Fan owner</th>
    <th>Fan photo</th>
    <th>Fan name</th>
    <th>Booking starting date</th>
    <th>Booking end date</th>
    <th>Status</th>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
    <td><%= cl_image_tag(booking.fan.user.avatar.key, class: "avatar", height: 40, width: 40, crop: :fill) %><br><%= booking.fan.user.email %></td>
    <td><%= cl_image_tag(booking.fan.photo.key, height: 80, width: 80, crop: :fill)%></td>
    <td><%= booking.fan.name %></td>
    <td><%= booking.start_date %></td>
    <td><%= booking.end_date %></td>
    <% accepted_display = ["success", "accepted"]%>
    <% declined_display = ["danger", "declined"]%>
    <% pending_display = ["secondary", "pending"]%>
    <% button_displayed = case booking.status %>
     <% when "accepted" %>
        <% accepted_display  %>
      <% when "declined" %>
        <% declined_display %>
      <% when "pending" %>
        <% pending_display %>  
    <% end %>
     <td><button class="btn btn-<%= button_displayed[0]  %>" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= button_displayed[1] %></button></td>
  </tr>
  <% end %>
</table>

<%= link_to "Back to all fans", root_path, class: "btn-gradient-new" %>
</div>

