<div class="container text-center">
  <h2>Your booking was sent</h2>
  <p>The owner of the fan should accept the rental in the next few hours</p>

<table>
  <tr>
    <th>Fan photo</th>
    <th>Fan owner</th>
    <th>Fan name</th>
    <th>Booking starting date</th>
    <th>Booking end date</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= cl_image_tag(@booking.fan.photo.key, height: 80, width: 80, crop: :fill)%></td>
    <td><%= @booking.fan.user_id %></td>
    <td><%= @booking.fan.name %></td>
    <td><%= @booking.start_date %></td>
    <td><%= @booking.end_date %></td>
    <td><span><%= @booking.status %></span></td>
  </tr>
</table>

<%= link_to "Back to all fans", root_path, class: "btn-gradient-new" %>
</div>
