
<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528837995482-b88b0a83a9e4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center mb-5">
    <h1> <strong>Fans around you</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and live a fresh life.</p>
    <%= link_to "See all our fans", fans_path, class: "btn-flat"  %>
  </div>
</div>
<div class="container">
  <%= link_to "Create New Fan", new_fan_path, class: "btn btn-gradient-new"%>
  <div class="container-grid">
    <% @fans.each do |fan| %>
    <div class="card-grid-index">
      <div class="card-product-index">
        <img src="https://images.unsplash.com/photo-1612549672719-2f1a3908ae31?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80" />
        <div class="card-product-infos-index">
          <h2><%= fan.name  %></h2>
          <p><%= fan.description  %></p>
          <p><%= fan.price  %></p>
          <div>
              <%= link_to "More infos", fan_path(fan), class: "btn btn-gradient"%>
              <%= link_to "Delete", fan_path(fan), class: "btn btn-ghost", method: :delete, data: {confirm: "Are you sure you want to delete #{fan.name}"}%>
          </div>
        </div>
      </div>
   </div>
   <% end  %>
  </div>

</div>
<%= link_to "My fans", my_fans_fans_path %>
<%= link_to "My incoming bookings", incoming_bookings_path %>
<%= link_to "My outgoing bookings", outgoing_bookings_path %>
