<div class="container">
  <%# We'll do the cloudinary photos aftewards. %>
  <%# <%= cl_image_tag @fan.photo, height: 300, width: 400, crop: :fill %>
      <h1><%= @fan.name %></h1>
      <p><%= @fan.description %></p>
      <p><%= @fan.price %></p>

<p id="notice" style="color: green" text-center><%= notice %></p>
  <%= link_to "Back to all fans", fans_path, class: "btn-flat"  %>
</div>