<div class="container">
  <h1><%= @fan.name %></h1>

  <%# We'll do the cloudinary photos aftewards. (paslm)%>
  <%# <%= cl_image_tag @fan.photo, height: 300, width: 400, crop: :fill %>

<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1581475802168-52bf225f742e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2467&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @fan.name %></h2>
      <p><%= @fan.description %></p>
    </div>
    <h2 class="card-trip-pricing">$19.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>

</div>
      <%= link_to "Back to all fans", fans_path, class: "btn btn-primary" %>
</div>


