<div class="container text-center">


<p id="notice" style="color: green" text-center><%= notice %></p>
</div>

<div class="card-trip">
  <div><%= cl_image_tag @fan.photo.key, height: 300, width: 750, crop: :fill %></div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @fan.name %></h2>
      <p><%= @fan.description %></p>
    </div>
    <h2 class="card-trip-pricing">Rent for <%= @fan.price %> $ / week</h2>
    <% if current_user.avatar.attached? %>
      <div class="card-trip-user avatar-bordered" ><%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :fill, class: "avatar" %></div>
    <% else %>
      <%= cl_image_tag("https://res.cloudinary.com/drlbljn6y/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1615303526/michael-dam-mEZ3PoFGs_k-unsplash_byqvkv.jpg", class: "card-trip-user avatar-bordered")%>
    <% end %>


</div>
<p id="notice" style="color: green" text-center><%= notice %></p>


  <div class="booking-btn m-3">
    <%= link_to "Create Booking", new_fan_booking_path(@fan), class: "btn-flat" %>
      <%= link_to "Back to all fans", fans_path, class: "btn-gradient-new"  %>
  </div>
</div>
